section .equipo {
  /* background-color: #00000069; */
  height: 91.6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  width: 50%;
}

.equipo .title{
  font-size: 2rem;
  padding: 15px;
}

.equipo .cards{
  /* background-color: #00000069; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards .card{  
  background-color: #00000069;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-title{
  font-size: 2rem;
  color: coral;
  font-weight: bold;
  text-align: center;
}

.card .card-description{
  font-size: 1.5rem;
  text-align: center;
}

.card .card-position{
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 110px;
  color: yellow;
  padding: 5px;
  border: 2px dashed white;
  border-radius: 10px;
}

.bold {
  font-weight: bold;
  color: coral;
}

.title{
  background-color: #00000069;
}

